
<section class="show-page">
  <div class="columns show">
    <div class="column is-half">
      <img src="<%= picture.url %>" alt="<%= picture.title %>">
        <form class="" action="/pictures/<%= picture.id %>/comment" method="post">
          <textarea name="content" rows="8" cols="80"></textarea>
          <button class="button" name="button">Post a comment</button>
        </form>
      </div>
      <div class="column is-half">
        <ul>
          <li><%= picture.title %> </li>
          <li><%= picture.creator.username %> </li>
        </ul>
        <a href="/pictures/<%= picture.id %>/edit">Edit</a>
        <form action="/pictures/<%= picture.id %>/" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button" name="button"> Delete</button>
        </form>
      </div>
    </div>
  </section>
