<h1>user profile</h1>


<section class="show-page">
  <div class="columns show">
    <div class="column is-one-third">
      <img src="<%= values[0].profile %>" alt="<%= values[0].username %>">
      </div>
      <div class="column is-one-third">
        <ul>
          <li><%= values[0].username %> </li>
          <li><%= values[0].location %> </li>
          <li>Followers: <%= values[0].followers.length %> </li>
          <li>Following: <%= values[0].following.length %> </li>
          <li><%= values[0].website %> </li>
          <li><%= values[0].bio %> </li>

          <li> <button class="button follow" name="button"> Follow</button></li>
        </ul>
        <a href="/users/<%= values[0].id %>/edit">Edit</a>

      </div>
  <div class="column is-one-third">
        <h2>My Pictures</h2>

            <ul>
              <% locals.values[0].post.forEach( photo =>{ %>
                <li>
                <%= photo.title %>
                <img src='<%= values[0].photo.url %>' alt='<%= photo.title %>' >
                </li>
              <% }) %>
            </ul>

        </div>
      </div>
  </section>
