<section class="user-show">
  <div class="columns">
    <div class="column is-half-desktop">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img class="profile-picture" src="<%= profile.profile %>" alt="Placeholder image"></a>
          </figure>
        </div>
      </div>
    </div>

    <div class="column is-half-desktop">

        <p class="title"><%= profile.username %> </p>

        <p class="subtitle"><%= profile.location %> </p>
        <p class="subtitle is-6"><%= profile.bio %> </p>

        <p>Website: <a target="blank" href="<%= profile.website %>"><%= profile.website%></a></p>


        <% if(locals.user && (profile.id === locals.user.id)){%>
          <div class="edit-button"
        <button class="button" name="button"><a href="/users/<%= profile.id %>/edit">Edit</a></button>
          </div>
        <% } %>

    </div>

</div>
</div>
</section>


<section class="index-page">
<div class="columns is-multiline">
  <% pictures.forEach( (photo) =>{ %>
      <div class="column is-one-third-desktop is-half-tablet">
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
            <img src="<%= photo.url %>" alt="Placeholder image">
            </figure>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</section>
