<h1>user profile</h1>


<section class="show-page">
  <div class="columns show">
    <div class="column is-half">
      <img src="<%= user.profile %>" alt="<%= user.username %>">
      </div>
      <div class="column is-half">
        <ul>
          <li><%= user.username %> </li>
          <li><%= user.location %> </li>
          <li>Followers: <%= user.followers.length %> </li>
          <li>Following: <%= user.following.length %> </li>
          <li><%= user.website %> </li>
          <li><%= user.bio %> </li>
        
          <li> <button class="button follow" name="button"> Follow</button></li>
        </ul>
        <a href="/users/<%= user.id %>/edit">Edit</a>

      </div>
      <% if(locals.isLoggedIn){ %>
        <h2>My Pictures</h2>
          <%= locals.user %>
            <ul>
              <% locals.user.post.forEach( post =>{ %>
                <li>
                <%= post.title %>
                <img style="max-width: 200px " src='<%= user.post.url %>' alt='<%= post.title %>' />
                </li>
              <% }) %>
            </ul>
          <% } %>
        </div>
  </section>
