<section class="user-show">
  <div class="columns">
    <div class="column is-half-desktop">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img src="<%= profile.profile %>" alt="Placeholder image"></a>
          </figure>
        </div>
      </div>
    </div>

    <div class="column is-half-desktop">
      <ul>
        <li><%= profile.username %> </li>
        <li><%= profile.location %> </li>
        <li>Followers: <%= profile.followers.length %> </li>
        <li>Following: <%= profile.following.length %> </li>
        <li><%= profile.website %> </li>
        <li><%= profile.bio %> </li>
        <li> <button class="button follow" name="button"> Follow</button></li>
        <% if(locals.user && (profile.id === locals.user.id)){%>
        <li><button class="button follow" name="button"><a href="/users/<%= profile.id %>/edit">Edit</a></button></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
</section>


<section class="index-page">
<div class="columns is-multiline">
  <% pictures.forEach( (photo) =>{ %>
      <div class="column is-one-third-desktop is-half-tablet">
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
            <img src="<%= photo.url %>" alt="Placeholder image">
            </figure>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</section>
